<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.iexpress.hello.junpopularmovies"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieSettingsActivity"
            android:label="@string/title_activity_movie_settings"
            android:parentActivityName=".MainActivity">

            <!-- parent activity support for 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iexpress.hello.junpopularmovies.MainActivity" />
        </activity>

        <activity android:name=".DetailActivity"
            android:parentActivityName=".MainActivity">

            <!-- parent activity support for 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iexpress.hello.junpopularmovies.MainActivity" />
        </activity>

        <!-- ContentProvider to store Movie data
            "Authorities" are defined as part of a ContentProvider interface
            as an attachment poit for the SyncAdapter.

            this ContentProvider is not exported, will not be accessible
            outside of this app's package.
         -->
        <provider
            android:authorities="com.iexpress.hello.junpopularmovies"
            android:name=".MovieContentProvider"
            android:exported="false" />


        <service android:name=".syncadapter.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator"/>
        </service>

    </application>

</manifest>